# Logs

logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Caches

.cache

# Diagnostic reports

report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Runtime data

pids
_.pid
_.seed
*.pid.lock

# Dependency directories

node_modules/
dist/

# TypeScript cache

*.tsbuildinfo

# npm cache directory

.npm

# Eslint cache

.eslintcache

# Stylelint cache

.stylelintcache

# dotenv environment variable files

.env
.env.test*

# IDE
.vscode
.cursorrules